* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body { 
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#espacio  /*, #cubo , .lado */{
    width: 200px;
    height: 200px;
    perspective: 800px;
}

#espacio:hover #cubo {
    transform: rotate3d(1,1,1,45deg);
}

#cubo , .lado {
    width: 100%;
    height: 100%;
}

#cubo {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s;
}

.lado {
    position: absolute;
}

#lado-1 {
    background-color: rgba(255, 0, 0, 0.5);
    transform: translateX(50%) rotateY(90deg);
}

#lado-2 {
    background-color: rgba(0, 255, 0, 0.5);
    transform: translateX(-50%) rotateY(90deg);
}

#lado-3 {
    background-color: rgba(0, 0, 255, 0.5);
    transform: translateY(50%) rotateX(90deg);
}

#lado-4 {
    background-color: rgba(255, 255,0, 0.5);
    transform: translateY(-50%) rotateX(90deg);
}

#lado-5 {
    background-color: rgba(0, 255, 255, 0.5);
    transform: translateZ(-100px);
}

#lado-6 {
    background-color: rgba(255, 0, 255, 0.5);
    transform: translateZ(100px);
}
